/* navbar css  */

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

/* Custom styling for the navbar */
.navbar-custom {
    background: linear-gradient(to right, #cf3d6e, #6c757d);
    /* Gradient background color */
}

.navbar-custom .navbar-brand {
    color: #d85151;
    /* Text color for the company name */
}

.navbar-custom .nav-link {
    color: #0ee2e9;
    font-family: 'Kalam', cursive;
    font-family: 'Raleway', sans-serif;
    /* Text color for the navigation links */
}

.navbar-custom .nav-link:hover {
    color: #c78125;
    /* Text color for the navigation links on hover */
}

/* Custom styling for the dropdown menu */
.dropdown-menu {
    margin-top: 20px;
    background: linear-gradient(to right, #212325, #2e1c7c79);
    width: auto;
    /* margin-right: -15px; */
    /* Gradient background color */
}

.dropdown-item-text {
    color: #f38b5a;
    font-size: small;
    /* Text color for the dropdown text */
}

.dropdown-item-text span {
    color: #f8f8f8;
    font-size: small;
    /* Text color for the data spans */
    text-align: center;
}

.dropdown-menu::before {
    content: none;
    /* Hide the dropdown arrow icon */
}

.dropdown-item {
    padding: 0.5rem 1rem;
    /* Adjust padding as needed */
}

.btn-danger {
    background-color: #d61023c2;
    /* Background color for the Logout button */
    border: none;
    /* Remove the button border */
}

.btn-danger:hover {
    background-color: #e21220;
    /* Background color for the Logout button on hover */
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;


}

/* Custom styling for the toggle button */
.navbar-toggler-icon {
    color: #cf3765;
    /* Text color */
    font-size: 18px;
    /* Font size */
    padding: 0 50px;
    /* Add some spacing around the text */
}

h1 {
    margin-top: 200px;
    font-family: 'Kalam', cursive;

}

.profile {
    height: 30px;
    width: 30px;
}