<!DOCTYPE html>
<html>

<head>
    <title>Device Ethernet Fiber Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Tilt+Neon&display=swap" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(45deg, #025464, #f3287c, #116D6E, #e78646, #1D5B79, #472855, #461959, #2E8A99);
            background-size: 800% 1800%;
            animation: gradient 120s infinite;
            color: #f8f9fa;
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Tilt Neon', sans-serif;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }

        }

        /* Custom CSS for the content */
        .content {
            margin-left: 0;
            padding: 50px;
        }

        /* Add border and margin to table headers */
        table th {
            border: 2px solid #ffffff;
            margin: 5px, 5px, 5px, 5px;
            padding-left: 10px;
            padding-right: 10px;
        }



        label {
            color: #ffffff;
        }

        input {
            background-color: #DDF7E3;
            color: #000000;
        }

        .modal-title {
            color: #ffffff;
        }

        .modal-content {
            background-color: #025464;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/location-details">Locations Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/owner-details">Owners/AMC Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/power-details">Power Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/fiber-details">Ethernet/Fiber Details</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col mt-5">
                <h1>Device Ethernet Fiber Details</h1>
            </div>
        </div>
    </div>
    <div class="container mb-2 mt-2 d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <button id="newEntryButton" class="btn btn-success" data-toggle="modal" data-target="#createEntryModal">
                    Create New Entry
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="createEntryModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="entryForm">
                        <div class="form-group">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id">
                        </div>
                        <div class="form-group">
                            <label for="serialNumber">Serial Number</label>
                            <input type="text" class="form-control" id="serialNumber" name="serial_number">
                        </div>
                        <div class="form-group">
                            <label for="deviceMakeModel">Device Make & Model</label>
                            <input type="text" class="form-control" id="deviceMakeModel" name="device_make_model">
                        </div>
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" class="form-control" id="model" name="model">
                        </div>
                        <div class="form-group">
                            <label for="deviceType">Device Type</label>
                            <input type="text" class="form-control" id="deviceType" name="device_type">
                        </div>
                        <div class="form-group">
                            <label for="devicePhysicalPort">Device Physical Port</label>
                            <input type="text" class="form-control" id="devicePhysicalPort" name="device_physical_port">
                        </div>
                        <div class="form-group">
                            <label for="devicePortType">Device Port Type</label>
                            <input type="text" class="form-control" id="devicePortType" name="device_port_type">
                        </div>
                        <div class="form-group">
                            <label for="devicePortMACWWN">Device Port MAC/WWN</label>
                            <input type="text" class="form-control" id="devicePortMACWWN" name="device_port_macwwn">
                        </div>
                        <div class="form-group">
                            <label for="connectedDevicePort">Connected Device Port</label>
                            <input type="text" class="form-control" id="connectedDevicePort"
                                name="connected_device_port">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <table border="1" class="table table-hover table-primary">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Serial Number</th>
                            <th>Device Make & Model</th>
                            <th>Model</th>
                            <th>Device Type</th>
                            <th>Device Physical Port</th>
                            <th>Device Port Type</th>
                            <th>Device Port MAC/WWN</th>
                            <th>Connected Device Port</th>
                        </tr>
                    </thead>
                    <tbody id="deviceDetails">
                        {{range .}}
                        <tr>
                            <td>{{.ID}}</td>
                            <td>{{.SerialNumber}}</td>
                            <td>{{.DeviceMakeModel}}</td>
                            <td>{{.Model}}</td>
                            <td>{{.DeviceType}}</td>
                            <td>{{.DevicePhysicalPort}}</td>
                            <td>{{.DevicePortType}}</td>
                            <td>{{.DevicePortMACWWN}}</td>
                            <td>{{.ConnectedDevicePort}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script>
        // JavaScript to handle form submission
        document.getElementById("entryForm").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Get form data
            const formData = new FormData(document.getElementById("entryForm"));

            // Send the form data to your backend API using fetch or another AJAX method
            fetch("http://localhost:8080/api/v1/fiber-details", {
                method: "POST",
                body: formData,
            })
                .then((response) => response.json())
                .then((data) => {
                    // Handle the API response here
                    if (data.success) {
                        alert("Success: Entry added successfully.");
                        location.reload(); // Reload the page on success
                    } else {
                        alert("Error: Entry not added. Please try again.");
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                    alert("Error: An error occurred. Please try again.");
                });

            // Close the modal
            $("#createEntryModal").modal("hide");
        });

    </script>
</body>

</html>