<!DOCTYPE html>
<html>

<head>
    <title>Device AMC Owner Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Tilt+Neon&display=swap" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(45deg, #468B97, #468B97, #EF6262, #F3AA60, #472855, #FDFFAE, #2E8A99);
            background-size: 800% 1800%;
            animation: gradient 20s infinite;
            background-color: rgba(0, 0, 0, 0.5);
            /* Adjust the alpha (0.5) for the desired level of transparency */
            color: #fafaf8;
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Tilt Neon', sans-serif;
        }

        .navbar {
            background: linear-gradient(45deg, #468B97, #468B97, #EF6262, #F3AA60, #472855, #FDFFAE, #2E8A99);
            background-size: 800% 1800%;
            animation: gradient 5s infinite;
            background-color: rgba(0, 0, 0, 0.5);
            /* Adjust the alpha (0.5) for the desired level of transparency */
            color: #fafaf8;
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Tilt Neon', sans-serif;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }

        }

        /* Custom CSS for the content */
        .content {
            margin-left: 0;
            padding: 50px;
        }

        /* Add border and margin to table headers */
        table th {
            border: 2px solid #ffffff;
            margin: 5px, 5px, 5px, 5px;
            padding-left: 5px;
            padding-right: 5px;
        }


        label {
            color: #ffffff;
        }

        input {
            background-color: #DDF7E3;
            color: #000000;
        }

        .modal-title {
            color: #ffffff;
        }

        .modal-content {
            background-color: #025464;
        }

        .delete-button {
            background-color: #D80032;
            color: #F1EFEF;
            border-radius: 10px;


        }

        .update-button {
            background-color: #79AC78;
            color: #F1EFEF;
            border-radius: 10px;

        }

        .nav-btn {
            background-color: #219C90;
            color: #F1EFEF;
            border-radius: 10px;

        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #d7e7f3;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/"><button class="nav-btn">Home</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/location-details"><button
                            class="nav-btn">Locations
                        </button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/owner-details"><button
                            class="nav-btn">Owners/AMC</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/power-details"><button
                            class="nav-btn">Power</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/fiber-details"><button
                            class="nav-btn">Ethernet/Fiber</button></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="col mt-5">
                <h1>Device AMC Owner Details</h1>
            </div>
        </div>
    </div>
    <div class="container mb-2 mt-2 d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <button id="newEntryButton" class="btn btn-success" data-toggle="modal" data-target="#createEntryModal">
                    Create New Entry
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="createEntryModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="entryForm">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="serialNumber">Serial Number</label>
                                    <input type="text" class="form-control" id="serialNumber" name="serial_number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="deviceMakeModel">Device Make & Model</label>
                                    <input type="text" class="form-control" id="deviceMakeModel"
                                        name="device_make_model">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="model">Model</label>
                                    <input type="text" class="form-control" id="model" name="model">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="poNumber">PO Number</label>
                                    <input type="text" class="form-control" id="poNumber" name="po_number">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="poOrderDate">PO Order Date</label>
                                    <input type="date" class="form-control" id="poOrderDate" name="po_order_date">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="eoslDate">EOSL Date</label>
                                    <input type="date" class="form-control" id="eoslDate" name="eosl_date">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="amcStartDate">AMC Start Date</label>
                                    <input type="date" class="form-control" id="amcStartDate" name="amc_start_date">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="amcEndDate">AMC End Date</label>
                                    <input type="date" class="form-control" id="amcEndDate" name="amc_end_date">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="deviceOwner">Device Owner</label>
                                    <input type="text" class="form-control" id="deviceOwner" name="device_owner">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <table border="1" class="table table-hover table-primary">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Serial Number</th>
                            <th>Device Make & Model</th>
                            <th>Model</th>
                            <th>PO Number</th>
                            <th>PO Order Date</th>
                            <th>EOSL Date</th>
                            <th>AMC Start Date</th>
                            <th>AMC End Date</th>
                            <th>Device Owner</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="deviceDetails">
                        {{range .}}
                        <tr class="row-transition">
                            <td>{{.ID}}</td>
                            <td>{{.SerialNumber}}</td>
                            <td>{{.DeviceMakeModel}}</td>
                            <td>{{.Model}}</td>
                            <td>{{.PONumber}}</td>
                            <td>{{.POOrderDate}}</td>
                            <td>{{.EOSLDate}}</td>
                            <td>{{.AMCStartDate}}</td>
                            <td>{{.AMCEndDate}}</td>
                            <td>{{.DeviceOwner}}</td>
                            <td>
                                <button class="delete-button" data-id="{{.ID}}">Delete</button>
                                <button class="update-button" data-id="{{.ID}}">Update</button>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script>

        // Delay the row animation when the page loads
        const tableRows = document.querySelectorAll(".row-transition");

        tableRows.forEach((row, index) => {
            row.style.opacity = "0";
            row.style.transform = "translateY(20px)";
            setTimeout(() => {
                row.style.transition = "opacity 0.2s ease, transform 0.5s ease";
                row.style.opacity = "1";
                row.style.transform = "translateY(0)";
            }, 500 * (index + 1)); // 500ms (0.5s) delay for each row
        });

        // Function to send a DELETE request
        function deleteRecord(id) {
            fetch(`/api/v1/owner-detail/${id}`, {
                method: 'DELETE',
            })
                .then(response => {
                    if (response.status === 200) {
                        alert("Success: Record Deleted Successfully.");
                        location.reload(); // Reload the page
                    } else {
                        alert("Error: Record not deleted. Please try again.");
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("An error occurred. Please try again.");
                });
        }

        // Function to send a PUT request
        function updateRecord(id) {
            fetch(`/api/v1/owner-detail/${id}`, {
                method: 'PUT',
            })
                .then(response => {
                    if (response.status === 200) {
                        alert("Success: Record Updated Successfully.");
                        location.reload(); // Reload the page
                    } else {
                        alert("Error: Record not updated. Please try again.");
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("An error occurred. Please try again.");
                });
        }

        // Add event listeners to the buttons
        const deleteButtons = document.querySelectorAll(".delete-button");
        const updateButtons = document.querySelectorAll(".update-button");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function () {
                const id = this.getAttribute("data-id");
                if (confirm("Are you sure you want to delete this record?")) {
                    deleteRecord(id);
                }
            });
        });

        updateButtons.forEach(button => {
            button.addEventListener("click", function () {
                const id = this.getAttribute("data-id");
                if (confirm("Are you sure you want to update this record?")) {
                    updateRecord(id);
                }
            });
        });


        // JavaScript to handle form submission
        document.getElementById("entryForm").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Get form data
            const formData = new FormData(document.getElementById("entryForm"));

            // Send the form data to your backend API using fetch or another AJAX method

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/api/v1/owner-details", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Request completed, handle response
                    var data = JSON.parse(xhr.responseText);
                    if (data.success) {
                        console.log(xhr.responseText);

                        alert("Success: Entry added successfully.");
                        location.reload();
                    } else {
                        alert("Error: Entry not added. Please try again.");
                    }
                }
            };
            xhr.send(formData);
            // Close the modal

            $("#createEntryModal").modal("hide");
        });

    </script>
</body>

</html>