<!DOCTYPE html>
<html>

<head>
    <title>Owner</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Tilt+Neon&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal@5/minimal.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost:wght@900&family=Tilt+Neon&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost:wght@900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost:wght@900&family=Prompt:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost:wght@900&family=Prompt&display=swap');

        tbody {
            color: #141E46;
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Jost', sans-serif;
            font-family: 'Prompt', sans-serif;
        }

        thead {
            color: #12486B;
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Jost', sans-serif;
            font-family: 'Prompt', sans-serif;
        }


        /* Add New Data button */
        .new {
            background-color: #3498db;
            /* Use a blue color for this button */
            color: #fff;
            /* Text color (white) */
            /* You can add more styling as needed, such as padding, border, and hover effects. */
        }

        /* Download Data as PDF button */
        .pdf {
            background-color: #af3e3e;
            /* Use a green color for this button */
            color: #fff;
            /* Text color (white) */
            /* You can add more styling as needed. */
            margin-left: 20px;
        }

        /* Download Data as Excel button */
        .xls {
            background-color: #f1c40f;
            /* Use a yellow color for this button */
            color: #fff;
            /* Text color (white) */
            /* You can add more styling as needed. */
        }

        #cname {
            font-family: 'Jost', sans-serif;
            font-style: normal;
            font-size: medium;
            color: black;
        }

        a {
            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-size: medium;
            color: rgb(212, 26, 26);
        }

        .nav-link {
            border-radius: 10%;
            margin-left: 20px;
        }

        /* Styles for Navbar */
        .navbar-brand img {
            margin-right: 10px;
            border-radius: 50%;
        }

        .table {
            background-color: #F5FCCD;
            color: #FDF0F0;
        }


        .navbar-nav .nav-link {
            padding: 1px 20px;
            transition: background-color 0.3s;
            /* Add a smooth transition effect for the background color change */
        }

        /* Apply the red background color on hover */
        .navbar-nav .nav-link:hover {
            background-color: #FF0000;
            /* Red background color when hovering */
            color: #fff;
            /* Text color on hover (white) */
        }

        .dropdown-menu {
            min-width: 300px;
            height: 90vh;
            background-color: #232D3F;
        }

        .navbar-nav .nav-link {
            padding: 1px 20px;
        }

        .dropdown-item-text {
            font-family: 'Josefin Sans', sans-serif;
            margin-top: 20px;
            font-size: 15px;
            color: #56a0d1;
        }

        span {
            color: #e2e9ee;
        }

        img {
            height: 35px;
            width: 35px;
        }

        .footer {
            margin-top: 82.9vh;
            padding: 15px 0;
            font-family: 'Josefin Sans', sans-serif;
        }

        #navbarNav {
            margin-left: 130px;
        }

        #navbarNav {
            margin-left: 130px;
        }

        .delete-button {
            background-color: red;
            color: white;
        }

        .update-button {
            background-color: #219C90;
            color: white;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/api/v1/homepage">
                <img src="/static/images/logo3.png" alt="Logo" width="30" height="30"> Asset Locator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link btn-info btn-sm" href="http://localhost:8080/api/v1/power-details">Power</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-info btn-sm" href="http://localhost:8080/api/v1/fiber-details">Fiber</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-info btn-sm"
                            href="http://localhost:8080/api/v1/location-details">Location</a>
                    </li>
                </ul>
            </div>
            <!-- Update your HTML to include placeholders for user details -->
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="/static/images/usericon.png" alt="profile">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <p class="dropdown-item-text">First Name : <span id="firstNamePlaceholder"></span></p>
                    <p class="dropdown-item-text">Last Name : <span id="lastNamePlaceholder"></span></p>
                    <p class="dropdown-item-text">Phone : <span id="phonePlaceholder"></span></p>
                    <p class="dropdown-item-text">Email : <span id="emailPlaceholder"></span></p>
                    <p class="dropdown-item-text">Role : <span id="rolePlaceholder"></span></p>
                    <div class="text-center">
                        <button id="logout-button" class="btn btn-danger ml-2">Logout</button>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h3 style="color: #aebec9;">Device AMC Owner Details</h3>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Filter Data : </h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Device Serial Number</label>
                <input type="text" id="serialNumberFilter">
            </div>
            <div class="col">
                <label for="">Device Make</label>
                <input type="text" id="makeFilter">
            </div>
            <div class="col">
                <label for="">Device Model</label>
                <input type="text" id="modelFilter">
            </div>
        </div>
    </div>

    <div class="container mt-2 mb-2">
        <div class="row align-items-start">
            <div class="col-10">
                <button id="newEntryButton" class="btn btn-sm new" data-toggle="modal" data-target="#createEntryModal">
                    New
                </button>
            </div>
            <div class="col-2">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a id="downloadPDFButton" class="btn btn-sm pdf">Download PDF</a>
                            <a id="downloadXLSXButton" class="btn btn-sm xls">Download XLSX</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="createEntryModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="entryForm">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="serialNumber">Serial Number</label>
                                    <input type="text" class="form-control" id="serialNumber" name="serial_number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="deviceMakeModel">Device Make & Model</label>
                                    <input type="text" class="form-control" id="deviceMakeModel"
                                        name="device_make_model">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="model">Model</label>
                                    <input type="text" class="form-control" id="model" name="model">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="poNumber">PO Number</label>
                                    <input type="text" class="form-control" id="poNumber" name="po_number">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="poOrderDate">PO Order Date</label>
                                    <input type="date" class="form-control" id="poOrderDate" name="po_order_date">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="eoslDate">EOSL Date</label>
                                    <input type="date" class="form-control" id="eoslDate" name="eosl_date">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="amcStartDate">AMC Start Date</label>
                                    <input type="date" class="form-control" id="amcStartDate" name="amc_start_date">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="amcEndDate">AMC End Date</label>
                                    <input type="date" class="form-control" id="amcEndDate" name="amc_end_date">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="deviceOwner">Device Owner</label>
                                    <input type="text" class="form-control" id="deviceOwner" name="device_owner">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Updating Data (for DeviceAMCOwnerDetail) -->
    <div class="modal fade" id="updateAMCOwnerModal" tabindex="-1" role="dialog"
        aria-labelledby="updateAMCOwnerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAMCOwnerModalLabel">Update Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for updating data -->
                    <form id="updateAMCOwnerForm">
                        <input type="hidden" id="updateAMCOwnerId" name="id">
                        <div class="form-group">
                            <label for="updateAMCOwnerSerialNumber">Serial Number:</label>
                            <input type="text" class="form-control" id="updateAMCOwnerSerialNumber"
                                name="serial_number">
                        </div>
                        <div class="form-group">
                            <label for="updateAMCOwnerDeviceMakeModel">Device Make/Model:</label>
                            <input type="text" class="form-control" id="updateAMCOwnerDeviceMakeModel"
                                name="device_make_model">
                        </div>
                        <div class="form-group">
                            <label for="updateAMCOwnerModel">Model:</label>
                            <input type="text" class="form-control" id="updateAMCOwnerModel" name="model">
                        </div>
                        <div class="form-group">
                            <label for="updateAMCOwnerPONumber">PO Number:</label>
                            <input type="text" class="form-control" id="updateAMCOwnerPONumber" name="po_number">
                        </div>
                        <div class="form-group">
                            <label for="updateAMCOwnerPOOrderDate">PO Order Date:</label>
                            <input type="date" class="form-control" id="updateAMCOwnerPOOrderDate" name="po_order_date">
                        </div>
                        <div class="form-group">
                            <label for="updateAMCOwnerEOSLDate">EOSL Date:</label>
                            <input type="date" class="form-control" id="updateAMCOwnerEOSLDate" name="eosl_date">
                        </div>
                        <div class="form-group">
                            <label for="updateAMCOwnerAMCStartDate">AMC Start Date:</label>
                            <input type="date" class="form-control" id="updateAMCOwnerAMCStartDate"
                                name="amc_start_date">
                        </div>
                        <div class="form-group">
                            <label for="updateAMCOwnerAMCEndDate">AMC End Date:</label>
                            <input type="date" class="form-control" id="updateAMCOwnerAMCEndDate" name="amc_end_date">
                        </div>
                        <div class="form-group">
                            <label for="updateAMCOwnerDeviceOwner">Device Owner:</label>
                            <input type="text" class="form-control" id="updateAMCOwnerDeviceOwner" name="device_owner">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="updateAMCOwnerSubmit">Update</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <table class="table table-hover custom-table">
                    <thead>
                        <tr>
                            <th style="font-size: medium;">S No.</th>
                            <th style="font-size: medium;">Device Serial Number</th>
                            <th style="font-size: medium;">Device Make</th>
                            <th style="font-size: medium;">Device Model</th>
                            <th style="font-size: medium;">PO Number</th>
                            <th style="font-size: medium;">PO Order Date</th>
                            <th style="font-size: medium;">EOSL Date</th>
                            <th style="font-size: medium;">AMC Start Date</th>
                            <th style="font-size: medium;">AMC End Date</th>
                            <th style="font-size: medium;">Device Owner</th>
                            <th style="font-size: medium;">Action</th>
                        </tr>
                    </thead>
                    <tbody id="deviceDetails">
                        {{range $index, $record := .}}
                        <tr class="row-transition">
                            <td style="font-size: small;">{{add1 $index}}</td>
                            <td style="font-size: small;">{{$record.SerialNumber}}</td>
                            <td style="font-size: small;">{{$record.DeviceMakeModel}}</td>
                            <td style="font-size: small;">{{$record.Model}}</td>
                            <td style="font-size: small;">{{$record.PONumber}}</td>
                            <!-- Modify the relevant table cell (e.g., POOrderDate, EOSLDate, AMCStartDate, AMCEndDate) -->
                            <td class="date-cell" style="font-size: small;">{{$record.POOrderDate}}</td>
                            <td class="date-cell" style="font-size: small;">{{$record.EOSLDate}}</td>
                            <td class="date-cell" style="font-size: small;">{{$record.AMCStartDate}}</td>
                            <td class="date-cell" style="font-size: small;">{{$record.AMCEndDate}}</td>
                            <td style="font-size: small;">{{$record.DeviceOwner}}</td>
                            <td style="font-size: small;">
                                <button class="delete-button" data-id="{{$record.Id}}">Delete</button>
                                <button class="update-button" data-id="{{$record.Id}}">Update</button>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="footer bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    &copy; 2023 Your Company. All rights reserved.
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script>
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger',
            },
            buttonsStyling: false

        })
        // Add event listeners to the buttons
        const deleteButtons = document.querySelectorAll(".delete-button");

        function showDeleteConfirmation(id) {
            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // Call the deleteRecord function after confirmation
                    deleteRecord(id);
                } else if (result.dismiss === swalWithBootstrapButtons.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your data is safe :)',
                        'error'
                    );
                }
            });
        }
        // Function to send a DELETE request
        function deleteRecord(id) {
            fetch(`http://localhost:8080/api/v1/owner-details/${id}`, {
                method: 'DELETE',
            })
                .then(response => {
                    if (response.status === 200) {
                        return response.json(); // Parse the response JSON
                    } else {
                        throw new Error("Record not deleted. Please try again.");
                    }
                })
                .then(data => {
                    notify(1, data.message); // Show success alert
                    location.reload(); // Reload the page
                })
                .catch(error => {
                    console.error("Error:", error);
                    notify(3, error.message); // Show error alert
                });
        }
        deleteButtons.forEach(button => {
            button.addEventListener("click", function () {
                const id = this.getAttribute("data-id");
                showDeleteConfirmation(id);

            });
        });
    </script>

    <!-- Add this script to your HTML -->
    <script>
        const updateButtons = document.querySelectorAll(".update-button");
        updateButtons.forEach(button => {
            button.addEventListener("click", function () {
                const id = this.getAttribute("data-id");
                openUpdateModal(id);
            });
        });
        console.log("Fetching data for ID:", id);
        // Function to open the update modal and pre-fill with existing data
        function openUpdateModal(id) {
            // Send a request to fetch the existing data based on the ID
            fetch(`http://localhost:8080/api/v1/owner-details/${id}`)
                .then(response => response.json())
                .then(existingData => {
                    // Pre-fill the modal form with existing data
                    document.getElementById("updateId").value = existingData.id || "";
                    document.getElementById("updateSerialNumber").value = existingData.serial_number || "";
                    document.getElementById("updateDeviceMakeModel").value = existingData.device_make_model || "";
                    document.getElementById("updateModel").value = existingData.model || "";
                    document.getElementById("updateDeviceType").value = existingData.device_type || "";
                    document.getElementById("updateDataCenter").value = existingData.data_center || "";
                    document.getElementById("updateRegion").value = existingData.region || "";
                    document.getElementById("updateDCLocation").value = existingData.dc_location || "";
                    document.getElementById("updateDeviceLocation").value = existingData.device_location || "";
                    document.getElementById("updateDeviceRowNumber").value = existingData.device_row_number || "";
                    document.getElementById("updateDeviceRackNumber").value = existingData.device_rack_number || "";
                    document.getElementById("updateDeviceRUNumber").value = existingData.device_ru_number || "";

                    // Show the modal
                    const updateModal = new bootstrap.Modal(document.getElementById("updateModal"));
                    updateModal.show();

                    // Add a click event listener to the "Update" button in the modal
                    document.getElementById("updateSubmit").addEventListener("click", function () {
                        const newData = {
                            id: document.getElementById("updateId").value,
                            serial_number: document.getElementById("updateSerialNumber").value,
                            device_make_model: document.getElementById("updateDeviceMakeModel").value,
                            model: document.getElementById("updateModel").value,
                            device_type: document.getElementById("updateDeviceType").value,
                            data_center: document.getElementById("updateDataCenter").value,
                            region: document.getElementById("updateRegion").value,
                            dc_location: document.getElementById("updateDCLocation").value,
                            device_location: document.getElementById("updateDeviceLocation").value,
                            device_row_number: document.getElementById("updateDeviceRowNumber").value,
                            device_rack_number: document.getElementById("updateDeviceRackNumber").value,
                            device_ru_number: document.getElementById("updateDeviceRUNumber").value,
                        };

                        // Print the updated data to the console
                        console.log("Updated Data:", newData);

                        // Send a request to update the data with the backend API
                        fetch(`http://localhost:8080/api/v1/owner-details/${newData.id}`, {
                            method: 'PUT',
                            body: JSON.stringify(newData),
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        })
                            .then(response => {
                                if (response.status === 200) {
                                    Swal.fire({
                                        title: 'Success',
                                        text: 'Record Updated Successfully',
                                        icon: 'success',
                                        customClass: {
                                            confirmButton: 'btn btn-success',
                                            cancelButton: 'btn btn-danger',
                                        },
                                        buttonsStyling: false,
                                    }).then(() => {
                                        location.reload(); // Reload the page
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'Record not updated. Please try again.',
                                        icon: 'error',
                                        customClass: {
                                            confirmButton: 'btn btn-success',
                                            cancelButton: 'btn btn-danger',
                                        },
                                        buttonsStyling: false,
                                    });
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                Swal.fire({
                                    title: 'Error',
                                    text: 'An error occurred while fetching data. Please try again.',
                                    icon: 'error',
                                    customClass: {
                                        confirmButton: 'btn btn-success',
                                        cancelButton: 'btn btn-danger',
                                    },
                                    buttonsStyling: false,
                                });
                            });


                        // Close the modal
                        updateModal.hide();
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        title: 'Error',
                        text: 'An error occurred while fetching data. Please try again.',
                        icon: 'error',
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-danger',
                        },
                        buttonsStyling: false,
                    });
                });
        }
    </script>



    <script>
        function notify(type, msg) {
            notie.alert({
                type: type,
                text: msg,
                position: 'top'
            })
        }
        function capitalizeFirstLetter(str) {
            return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
        }

        // Function to fetch and display user details when the page loads
        function fetchCurrentUserDetails() {
            fetch('/api/v1/get-current-user', {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    console.log(response)
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById('firstNamePlaceholder').innerHTML = capitalizeFirstLetter(data.user.first_name);
                    document.getElementById('lastNamePlaceholder').innerHTML = capitalizeFirstLetter(data.user.last_name);
                    document.getElementById('phonePlaceholder').innerHTML = capitalizeFirstLetter(data.user.phone);
                    document.getElementById('emailPlaceholder').innerHTML = capitalizeFirstLetter(data.user.email);
                    document.getElementById('rolePlaceholder').innerHTML = capitalizeFirstLetter(data.user.role);
                })

                .catch(error => {
                    console.error('Error fetching user details:', error);
                });
        }

        // Add an event listener to fetch user details when the page loads
        document.addEventListener('DOMContentLoaded', fetchCurrentUserDetails);
        // Function to format a date as "DD/MM/YYYY"
        function formatDate(inputDate) {
            const parts = inputDate.split('-');
            if (parts.length === 3) {
                const year = parts[0];
                const month = parts[1];
                const day = parts[2];
                return `${day}/${month}/${year}`;
            }
            return inputDate; // Return the original date if the format is invalid
        }

        // Format the date fields when the page loads
        document.addEventListener("DOMContentLoaded", function () {
            const dateCells = document.querySelectorAll(".date-cell");

            dateCells.forEach(cell => {
                const rawDate = cell.textContent;
                const formattedDate = formatDate(rawDate);
                cell.textContent = formattedDate;
            });
        });

        // Delay the row animation when the page loads
        const tableRows = document.querySelectorAll(".row-transition");

        tableRows.forEach((row, index) => {
            row.style.opacity = "0";
            row.style.transform = "translateY(20px)";
            setTimeout(() => {
                row.style.transition = "opacity 0.2s ease, transform 0.5s ease";
                row.style.opacity = "1";
                row.style.transform = "translateY(0)";
            }, 500 * (index + 1)); // 500ms (0.5s) delay for each row
        });
        // JavaScript to handle form submission
        document.getElementById("entryForm").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Get form data
            const formData = new FormData(document.getElementById("entryForm"));

            // Send the form data to your backend API using fetch or another AJAX method

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/api/v1/owner-details", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Request completed, handle response
                    var data = JSON.parse(xhr.responseText);
                    if (data.success) {
                        console.log(xhr.responseText);

                        notify(1, data.message);
                        location.reload();
                    } else {
                        notify(3, error.message);
                    }
                }
            };
            xhr.send(formData);
            // Close the modal

            $("#createEntryModal").modal("hide");
        });

        // Function to handle logout
        function handleLogout() {
            fetch("/logout", {
                method: "POST",
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        notify(1, data.message);
                        window.location.href = "/"; // Redirect to the root path
                    } else {
                        notify(2, data.message);
                    }
                })
                .catch(error => {
                    console.error("An error occurred while logging out:", error);
                    notify(3, "An error occurred while logging out.");
                });
        }

        // Attach the handleLogout function to the logout button's click event
        const logoutButton = document.getElementById("logout-button");
        logoutButton.addEventListener("click", handleLogout);

    </script>
    <script>
        document.getElementById("downloadPDFButton").addEventListener("click", function () {
            // Show a dialog to let the user choose PDF or XLSX
            if (confirm("Download as PDF?")) {
                // Make a request to the PDF download API
                fetch("/api/v1/fiber-details/pdf")
                    .then(response => response.blob())
                    .then(data => {
                        // Create a Blob containing the PDF data
                        const blob = new Blob([data], { type: "application/pdf" });

                        // Create a URL for the Blob
                        const url = window.URL.createObjectURL(blob);

                        // Create an invisible anchor element to trigger the download
                        const a = document.createElement("a");
                        a.style.display = "none";
                        a.href = url;
                        a.download = "DeviceEthernetFiberDetails.pdf";

                        // Trigger the download
                        document.body.appendChild(a);
                        a.click();

                        // Clean up
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(error => {
                        console.error("Failed to download PDF:", error);
                    });
            }
        });

        document.getElementById("downloadXLSXButton").addEventListener("click", function () {
            // Show a dialog to let the user choose PDF or XLSX
            if (confirm("Download as XLSX?")) {
                // Make a request to the XLSX download API
                fetch("/api/v1/fiber-details/excel")
                    .then(response => response.blob())
                    .then(data => {
                        // Create a Blob containing the XLSX data
                        const blob = new Blob([data], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });

                        // Create a URL for the Blob
                        const url = window.URL.createObjectURL(blob);

                        // Create an invisible anchor element to trigger the download
                        const a = document.createElement("a");
                        a.style.display = "none";
                        a.href = url;
                        a.download = "DeviceEthernetFiberDetails.xlsx";

                        // Trigger the download
                        document.body.appendChild(a);
                        a.click();

                        // Clean up
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(error => {
                        console.error("Failed to download XLSX:", error);
                    });
            }
        });

    </script>

    <script>
        // Function to filter the table rows based on user input
        function filterTable() {
            var serialNumberFilter = document.getElementById("serialNumberFilter").value.toLowerCase();
            var makeFilter = document.getElementById("makeFilter").value.toLowerCase();
            var modelFilter = document.getElementById("modelFilter").value.toLowerCase();

            var rows = document.querySelectorAll("#deviceDetails tr.row-transition");

            rows.forEach(function (row) {
                var serialNumber = row.querySelector("td:nth-child(2)").textContent.toLowerCase();
                var make = row.querySelector("td:nth-child(3)").textContent.toLowerCase();
                var model = row.querySelector("td:nth-child(4)").textContent.toLowerCase();

                if (serialNumber.includes(serialNumberFilter) &&
                    make.includes(makeFilter) &&
                    model.includes(modelFilter)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        }

        // Add event listeners to the input fields
        document.getElementById("serialNumberFilter").addEventListener("input", filterTable);
        document.getElementById("makeFilter").addEventListener("input", filterTable);
        document.getElementById("modelFilter").addEventListener("input", filterTable);
    </script>

</body>

</html>