<!DOCTYPE html>
<html>

<head>
    <title>Owner</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Ubuntu&display=swap" rel="stylesheet">
    <!-- filter navbar buttons related css only -->
    <style>
        body {
            font-family: 'Ubuntu', sans-serif;
            font-style: normal;
            font-size: medium;
            background-color: #B2C8BA;
        }

        /* Custom styling for the navbar */
        .navbar-custom {
            background: linear-gradient(to right, #cf3d6e, #6c757d);
            /* Gradient background color */
        }

        .navbar-custom .navbar-brand {
            color: #d85151;
            /* Text color for the company name */
        }

        .navbar-custom .nav-link {
            color: #0ee2e9;
            /* Text color for the navigation links */
        }

        .navbar-custom .nav-link:hover {
            color: #c78125;
            /* Text color for the navigation links on hover */
        }

        /* Custom styling for the dropdown menu */
        .dropdown-menu {
            margin-top: 20px;
            background: linear-gradient(to right, #212325, #2e1c7c79);
            width: auto;
            /* margin-right: -15px; */
            /* Gradient background color */
        }

        .dropdown-item-text {
            color: #f38b5a;
            font-size: small;
            /* Text color for the dropdown text */
        }

        .dropdown-item-text span {
            color: #f8f8f8;
            font-size: small;
            /* Text color for the data spans */
            text-align: center;
        }

        .dropdown-menu::before {
            content: none;
            /* Hide the dropdown arrow icon */
        }

        .dropdown-item {
            padding: 0.5rem 1rem;
            /* Adjust padding as needed */
        }

        .btn-danger {
            background-color: #d61023c2;
            /* Background color for the Logout button */
            border: none;
            /* Remove the button border */
        }

        .btn-danger:hover {
            background-color: #e21220;
            /* Background color for the Logout button on hover */
        }

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;


        }

        /* Custom styling for the toggle button */
        .navbar-toggler-icon {
            color: #cf3765;
            /* Text color */
            font-size: 18px;
            /* Font size */
            padding: 0 50px;
            /* Add some spacing around the text */
        }

        h1 {
            margin-top: 200px;

        }

        .profile {
            height: 30px;
            width: 30px;
        }

        footer {
            margin-top: 200px;
        }

        /* Custom styling for the filter section   */
        .container {
            background-color: #CDF5FD;
            /* Background color */
            border-radius: 5px;
            /* Rounded corners */
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            /* Box shadow for a subtle lift */
        }

        h3 {
            color: #007bff;
            /* Title color */
        }

        label {
            font-weight: bold;
            /* Bold labels */
        }

        .form-control {
            border: 2px solid #007bff;
            /* Input border color */
            border-radius: 5px;
            /* Rounded input corners */
        }

        .form-control:focus {
            border-color: #0056b3;
            /* Input border color on focus */
            box-shadow: none;
            /* Remove the default box shadow on focus */
        }

        .btn-primary {
            background-color: #007bff;
            /* Button background color */
            border: none;
            /* Remove button border */
            border-radius: 5px;
            /* Rounded button corners */
        }

        .btn-primary:hover {
            background-color: #0056b3;
            /* Button background color on hover */
        }

        /* buttons related css for all data pages */

        .delete-button {
            background-color: red;
            color: white;
        }

        .update-button {
            background-color: #219C90;
            color: white;
        }

        /* Download Data as PDF button */
        .pdf {
            background-color: #af3e3e;
            /* Use a green color for this button */
            color: #fff;
            /* Text color (white) */
            /* You can add more styling as needed. */
            margin-left: 20px;
        }

        /* Download Data as Excel button */
        .xls {
            background-color: #f1c40f;
            /* Use a yellow color for this button */
            color: #fff;
            /* Text color (white) */
            /* You can add more styling as needed. */
        }

        /* Add New Data button */
        .new {
            background-color: #3498db;
            /* Use a blue color for this button */
            color: #fff;
            /* Text color (white) */
            /* You can add more styling as needed, such as padding, border, and hover effects. */
        }

        th {
            background-color: #CE5A67;
            color: #CDF5FD;
        }
    </style>

</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="http://localhost:8080/api/v1/homepage">
            <img src="/static/images/logo3.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto justify-content-center">
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="http://localhost:8080/api/v1/homepage">Home</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/power-details">Power</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/fiber-details">Fiber</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true"
                        href="http://localhost:8080/api/v1/owner-details">Owner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/location-details">Location</a>
                </li>

            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img class="profile" src="/static/images/usericon.png" alt="profile">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <h6 class="dropdown-item-text">NAME : <span class="text-center" id="firstNamePlaceholder"></span>
                    </h6>
                    <!-- <p class="dropdown-item-text">NAME  : <span id="firstNamePlaceholder"></span> <span
                                id="lastNamePlaceholder"></span></p> -->
                    <h6 class="dropdown-item-text">PHONE : <span class="text-center" id="phonePlaceholder"></span></h6>
                    <!-- <p class="dropdown-item-text">EMAIL : <span id="emailPlaceholder"></span></p> -->
                    <h6 class="dropdown-item-text">ROLE : <span class="text-center" id="rolePlaceholder"></span></h6>
                    <div class="text-center">
                        <button id="logout-button" class="btn btn-danger ml-2">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- page heading -->
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h3 style="color: #e48537;">Device AMC Owner Details</h3>
            </div>
        </div>
    </div>

    <!-- data filter -->
    <div class="container">
        <h3 class="mt-4">Filter Data</h3>
        <form>
            <div class="form-row mt-3">
                <div class="col-md-4 form-group">
                    <label for="serialNumberFilter">Device Serial Number</label>
                    <input type="text" class="form-control" id="serialNumberFilter">
                </div>
                <div class="col-md-4 form-group">
                    <label for="makeFilter">Device Make</label>
                    <input type="text" class="form-control" id="makeFilter">
                </div>
                <div class="col-md-4 form-group">
                    <label for="modelFilter">Device Model</label>
                    <input type="text" class="form-control" id="modelFilter">
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="submit" id="applyFilterButton" class="btn btn-primary">Apply Filter</button>

            </div>
        </form>
    </div>

    <!-- data add/download buttons -->
    <div class="container mt-2 mb-2">
        <div class="row align-items-start">
            <div class="col col-10">
                <button id="newEntryButton" class="btn btn-sm new" data-toggle="modal" data-target="#createEntryModal">
                    Add New Entry
                </button>
            </div>

            <div class="col">
                <button id="downloadPDFButton" class="btn btn-sm pdf">Pdf</button>

            </div>
            <div class="col">
                <button id="downloadXLSXButton" class="btn btn-sm xls">Excel</button>
            </div>
        </div>
    </div>

    <!-- Modal for add data-->
    <div class="modal" tabindex="-1" role="dialog" id="createEntryModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="entryForm">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="serialNumber">Serial Number</label>
                                    <input type="text" class="form-control" id="serialNumber" name="serial_number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="deviceMakeModel">Device Make & Model</label>
                                    <input type="text" class="form-control" id="deviceMakeModel"
                                        name="device_make_model">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="model">Model</label>
                                    <input type="text" class="form-control" id="model" name="model">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="poNumber">PO Number</label>
                                    <input type="text" class="form-control" id="poNumber" name="po_number">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="poOrderDate">PO Order Date</label>
                                    <input type="date" class="form-control" id="poOrderDate" name="po_order_date">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="eoslDate">EOSL Date</label>
                                    <input type="date" class="form-control" id="eoslDate" name="eosl_date">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="amcStartDate">AMC Start Date</label>
                                    <input type="date" class="form-control" id="amcStartDate" name="amc_start_date">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="amcEndDate">AMC End Date</label>
                                    <input type="date" class="form-control" id="amcEndDate" name="amc_end_date">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="deviceOwner">Device Owner</label>
                                    <input type="text" class="form-control" id="deviceOwner" name="device_owner">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- modal for update data -->
    <!-- Update Device AMC Owner Detail Modal -->
    <div class="modal fade" id="updateAMCOwnerModal" tabindex="-1" role="dialog"
        aria-labelledby="updateAMCOwnerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAMCOwnerModalLabel">Update Device AMC Owner Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateAMCOwnerForm">
                        <!-- Serial Number -->
                        <div class="form-group">
                            <label for="serialNumber">Serial Number :</label>
                            <input type="text" class="form-control" id="updateAMCSerialNumber" name="serial_number">
                        </div>

                        <!-- Device Make and Model -->
                        <div class="form-group">
                            <label for="deviceMakeModel">Device Make :</label>
                            <input type="text" class="form-control" id="updateAMCDeviceMakeModel"
                                name="device_make_model">
                        </div>

                        <!-- Model -->
                        <div class="form-group">
                            <label for="model">Model :</label>
                            <input type="text" class="form-control" id="updateAMCModel" name="model">
                        </div>

                        <!-- PO Number -->
                        <div class="form-group">
                            <label for="poNumber">PO Number :</label>
                            <input type="text" class="form-control" id="updateAMCPONumber" name="po_number">
                        </div>

                        <!-- PO Order Date -->
                        <div class="form-group">
                            <label for="poOrderDate">PO Order Date :</label>
                            <input type="text" class="form-control" id="updateAMCPOOrderDate" name="po_order_date">
                        </div>

                        <!-- EOSL Date -->
                        <div class="form-group">
                            <label for="eoslDate">EOSL Date:</label>
                            <input type="text" class="form-control" id="updateAMCEOSLDate" name="eosl_date">
                        </div>

                        <!-- AMC Start Date -->
                        <div class="form-group">
                            <label for="amcStartDate">AMC Start Date:</label>
                            <input type="text" class="form-control" id="updateAMCAMCStartDate" name="amc_start_date">
                        </div>

                        <!-- AMC End Date -->
                        <div class="form-group">
                            <label for="amcEndDate">AMC End Date:</label>
                            <input type="text" class="form-control" id="updateAMCAMCEndDate" name="amc_end_date">
                        </div>

                        <!-- Device Owner -->
                        <div class="form-group">
                            <label for="deviceOwner">Device Owner:</label>
                            <input type="text" class="form-control" id="updateAMCDeviceOwner" name="device_owner">
                        </div>

                        <input type="hidden" id="updateAMCOwnerId" name="id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="updateAMCOwnerSubmit">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- data display table -->
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <table class="table table-hover custom-table">
                    <thead>
                        <tr>
                            <th style="font-size: medium;">S No.</th>
                            <th style="font-size: medium;">Device Serial Number</th>
                            <th style="font-size: medium;">Device Make</th>
                            <th style="font-size: medium;">Device Model</th>
                            <th style="font-size: medium;">PO Number</th>
                            <th style="font-size: medium;">PO Order Date</th>
                            <th style="font-size: medium;">EOSL Date</th>
                            <th style="font-size: medium;">AMC Start Date</th>
                            <th style="font-size: medium;">AMC End Date</th>
                            <th style="font-size: medium;">Device Owner</th>
                            <th style="font-size: medium;">Action</th>
                        </tr>
                    </thead>
                    <tbody id="deviceDetails">
                        {{range $index, $record := .}}
                        <tr class="row-transition">
                            <td style="font-size: medium; background-color: #F5F7F8;color:#4F4A45;">{{add1 $index}}</td>
                            <td style="font-size: small;">{{$record.SerialNumber}}</td>
                            <td style="font-size: small;">{{$record.DeviceMakeModel}}</td>
                            <td style="font-size: small;">{{$record.Model}}</td>
                            <td style="font-size: small;">{{$record.PONumber}}</td>
                            <!-- Modify the relevant table cell (e.g., POOrderDate, EOSLDate, AMCStartDate, AMCEndDate) -->
                            <td class="date-cell" style="font-size: small;">{{$record.POOrderDate}}</td>
                            <td class="date-cell" style="font-size: small;">{{$record.EOSLDate}}</td>
                            <td class="date-cell" style="font-size: small;">{{$record.AMCStartDate}}</td>
                            <td class="date-cell" style="font-size: small;">{{$record.AMCEndDate}}</td>
                            <td style="font-size: small;">{{$record.DeviceOwner}}</td>
                            <td style="font-size: small;">
                                <button class="delete-button" data-id="{{$record.Id}}">Delete</button>
                                <button class="update-button" data-id="{{$record.Id}}">Update</button>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="text-center">
            &copy; 2023 Your Company. All rights reserved.
        </div>
    </footer>

    <!-- Ensure jQuery and Bootstrap are included -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <!-- handle delete data -->
    <script>
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger',
            },
            buttonsStyling: false

        })
        // Add event listeners to the buttons
        const deleteButtons = document.querySelectorAll(".delete-button");

        function showDeleteConfirmation(id) {
            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // Call the deleteRecord function after confirmation
                    deleteRecord(id);
                } else if (result.dismiss === swalWithBootstrapButtons.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your data is safe :)',
                        'error'
                    );
                }
            });
        }
        // Function to send a DELETE request
        function deleteRecord(id) {
            fetch(`http://localhost:8080/api/v1/owner-details/${id}`, {
                method: 'DELETE',
            })
                .then(response => {
                    if (response.status === 200) {
                        return response.json(); // Parse the response JSON
                    } else {
                        throw new Error("Record not deleted. Please try again.");
                    }
                })
                .then(data => {
                    notify(1, data.message); // Show success alert
                    location.reload(); // Reload the page
                })
                .catch(error => {
                    console.error("Error:", error);
                    notify(3, error.message); // Show error alert
                });
        }
        deleteButtons.forEach(button => {
            button.addEventListener("click", function () {
                const id = this.getAttribute("data-id");
                showDeleteConfirmation(id);

            });
        });
    </script>

    <!-- handle fetch data -->
    <script>
        function formatDate(inputDate) {
            const parts = inputDate.split('-');
            if (parts.length === 3) {
                const year = parts[0];
                const month = parts[1];
                const day = parts[2];
                return `${day}/${month}/${year}`;
            }
            return inputDate; // Return the original date if the format is invalid
        }
    </script>

    <!-- handle add new data -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dateCells = document.querySelectorAll(".date-cell");

            dateCells.forEach(cell => {
                const rawDate = cell.textContent;
                const formattedDate = formatDate(rawDate);
                cell.textContent = formattedDate;
            });
        });

        // Delay the row animation when the page loads
        const tableRows = document.querySelectorAll(".row-transition");

        tableRows.forEach((row, index) => {
            row.style.opacity = "0";
            row.style.transform = "translateY(20px)";
            setTimeout(() => {
                row.style.transition = "opacity 0.2s ease, transform 0.5s ease";
                row.style.opacity = "1";
                row.style.transform = "translateY(0)";
            }, 500 * (index + 1)); // 500ms (0.5s) delay for each row
        });
        // JavaScript to handle form submission
        document.getElementById("entryForm").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Get form data
            const formData = new FormData(document.getElementById("entryForm"));

            // Send the form data to your backend API using fetch or another AJAX method

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/api/v1/owner-details", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Request completed, handle response
                    var data = JSON.parse(xhr.responseText);
                    if (data.success) {
                        console.log(xhr.responseText);

                        notify(1, data.message);
                        location.reload();
                    } else {
                        notify(3, error.message);
                    }
                }
            };
            xhr.send(formData);
            // Close the modal

            $("#createEntryModal").modal("hide");
        });
    </script>


    <!-- handle update data -->
    <script>
        $(document).ready(function () {
            // Handle the click event on the "Update" button for AMC Owner
            $(".update-button").on("click", function () {
                var recordId = $(this).data("id");
                $("#updateAMCOwnerId").val(recordId);
                $("#updateAMCOwnerModal").modal("show");
            });

            // Handle the form submission for AMC Owner
            $("#updateAMCOwnerSubmit").on("click", function () {
                var formData = {};
                formData.id = $("#updateAMCOwnerId").val();
                formData.serial_number = $("#updateAMCSerialNumber").val();
                formData.device_make_model = $("#updateAMCDeviceMakeModel").val();
                formData.model = $("#updateAMCModel").val();
                formData.po_number = $("#updateAMCPONumber").val();
                formData.po_order_date = $("#updateAMCPOOrderDate").val();
                formData.eosl_date = $("#updateAMCEOSLDate").val();
                formData.amc_start_date = $("#updateAMCAMCStartDate").val();
                formData.amc_end_date = $("#updateAMCAMCEndDate").val();
                formData.device_owner = $("#updateAMCDeviceOwner").val();

                $.ajax({
                    type: "PUT",
                    url: "/api/v1/amc-owner-details/" + formData.id,
                    contentType: "application/json", // Set the correct content type
                    data: JSON.stringify(formData),
                    success: function (response) {
                        if (response.success) {
                            alert("Device AMC Owner Detail updated successfully");
                            $("#updateAMCOwnerModal").modal("hide");
                            location.reload(); // Reload the page after a successful update
                        } else {
                            alert("Failed to update Device AMC Owner Detail");
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle errors here
                        alert("An error occurred while updating: " + error);
                    },
                });
            });
        });

    </script>

    <!-- handle download data -->
    <script>
        document.getElementById("downloadPDFButton").addEventListener("click", function () {
            // Show a dialog to let the user choose PDF or XLSX
            if (confirm("Download as PDF?")) {
                // Make a request to the PDF download API
                fetch("/api/v1/fiber-details/pdf")
                    .then(response => response.blob())
                    .then(data => {
                        // Create a Blob containing the PDF data
                        const blob = new Blob([data], { type: "application/pdf" });

                        // Create a URL for the Blob
                        const url = window.URL.createObjectURL(blob);

                        // Create an invisible anchor element to trigger the download
                        const a = document.createElement("a");
                        a.style.display = "none";
                        a.href = url;
                        a.download = "DeviceEthernetFiberDetails.pdf";

                        // Trigger the download
                        document.body.appendChild(a);
                        a.click();

                        // Clean up
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(error => {
                        console.error("Failed to download PDF:", error);
                    });
            }
        });

        document.getElementById("downloadXLSXButton").addEventListener("click", function () {
            // Show a dialog to let the user choose PDF or XLSX
            if (confirm("Download as XLSX?")) {
                // Make a request to the XLSX download API
                fetch("/api/v1/fiber-details/excel")
                    .then(response => response.blob())
                    .then(data => {
                        // Create a Blob containing the XLSX data
                        const blob = new Blob([data], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });

                        // Create a URL for the Blob
                        const url = window.URL.createObjectURL(blob);

                        // Create an invisible anchor element to trigger the download
                        const a = document.createElement("a");
                        a.style.display = "none";
                        a.href = url;
                        a.download = "DeviceEthernetFiberDetails.xlsx";

                        // Trigger the download
                        document.body.appendChild(a);
                        a.click();

                        // Clean up
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(error => {
                        console.error("Failed to download XLSX:", error);
                    });
            }
        });

    </script>

    <!-- handle filter data table -->
    <script>
        function filterTable() {
            var serialNumberFilter = document.getElementById("serialNumberFilter").value.toLowerCase();
            var makeFilter = document.getElementById("makeFilter").value.toLowerCase();
            var modelFilter = document.getElementById("modelFilter").value.toLowerCase();

            var rows = document.querySelectorAll("#deviceDetails tr.row-transition");

            rows.forEach(function (row) {
                var serialNumber = row.querySelector("td:nth-child(2)").textContent.toLowerCase();
                var make = row.querySelector("td:nth-child(3)").textContent.toLowerCase();
                var model = row.querySelector("td:nth-child(4)").textContent.toLowerCase();

                if (serialNumber.includes(serialNumberFilter) &&
                    make.includes(makeFilter) &&
                    model.includes(modelFilter)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            })
        }

        // Add an event listener to the "Apply Filter" button
        document.getElementById("applyFilterButton").addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the default form submission
            filterTable(); // Apply the filter
        });
    </script>

    <!-- get current user details -->
    <script>
        function notify(type, msg) {
            notie.alert({
                type: type,
                text: msg,
                position: 'top'
            })
        }
        function capitalize(str) {
            return str.slice(0).toUpperCase();
        }


        // Function to fetch and display user details when the page loads
        function fetchCurrentUserDetails() {
            fetch('/api/v1/get-current-user', {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    console.log(response)
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById('firstNamePlaceholder').innerHTML = capitalize(data.user.first_name);
                    // document.getElementById('lastNamePlaceholder').innerHTML = capitalize(data.user.last_name);
                    document.getElementById('phonePlaceholder').innerHTML = capitalize(data.user.phone);
                    // document.getElementById('emailPlaceholder').innerHTML = capitalize(data.user.email);
                    document.getElementById('rolePlaceholder').innerHTML = capitalize(data.user.role);
                })

                .catch(error => {
                    console.error('Error fetching user details:', error);
                });
        }

        // Add an event listener to fetch user details when the page loads
        document.addEventListener('DOMContentLoaded', fetchCurrentUserDetails);
    </script>

    <!-- handle logout -->
    <script>
        // Function to handle logout
        function handleLogout() {
            fetch("/logout", {
                method: "POST",
            })
                .then(response => {
                    if (!response.ok) {
                        console.error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        notify(1, data.message);
                        window.location.href = "/"; // Redirect to the root path
                    } else {
                        notify(2, data.message);
                    }
                })
                .catch(error => {
                    console.error("An error occurred while logging out:", error);
                    notify(3, "An error occurred while logging out.");
                });
        }

        // Attach the handleLogout function to the logout button's click event
        const logoutButton = document.getElementById("logout-button");
        logoutButton.addEventListener("click", handleLogout);
    </script>
</body>

</html>