<!DOCTYPE html>
<html>

<head>
    <title>Device Power Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Tilt+Neon&display=swap" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(45deg, #025464, #f3287c, #116D6E, #e78646, #1D5B79, #472855, #461959, #2E8A99);
            background-size: 800% 1800%;
            animation: gradient 120s infinite;
            color: #f8f9fa;
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Tilt Neon', sans-serif;
        }

        .navbar {
            background: linear-gradient(45deg, #025464, #f3287c, #116D6E, #e78646, #1D5B79, #472855, #461959, #2E8A99);
            background-size: 800% 1800%;
            animation: gradient 120s infinite;
            color: #f8f9fa;
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Tilt Neon', sans-serif;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }

        }

        /* Custom CSS for the content */
        .content {
            margin-left: 0;
            padding: 50px;
        }

        /* Add border and margin to table headers */
        table th {
            border: 2px solid #ffffff;
            margin: 5px, 5px, 5px, 5px;
            padding-left: 10px;
            padding-right: 10px;
        }

        label {
            color: #ffffff;
        }

        input {
            background-color: #DDF7E3;
            color: #000000;
        }

        .modal-title {
            color: #ffffff;
        }

        .modal-content {
            background-color: #025464;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #d7e7f3;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/"><button class="nav-btn">Home</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/location-details"><button class="nav-btn">Locations
                        </button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="http://localhost:8080/api/v1/owner-details"><button class="nav-btn">Owners/AMC</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/v1/power-details"><button class="nav-btn">Power</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="http://localhost:8080/api/v1/fiber-details"><button>Ethernet/Fiber</button></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col mt-5">
                <h1>Device Power Details</h1>
            </div>
        </div>
    </div>
    <div class="container mb-2 mt-2 d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <button id="newEntryButton" class="btn btn-success" data-toggle="modal" data-target="#createEntryModal">
                    Create New Entry
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="createEntryModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="entryForm">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="serialNumber">Serial Number</label>
                                    <input type="text" class="form-control" id="serialNumber" name="serial_number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="deviceMakeModel">Device Make & Model</label>
                                    <input type="text" class="form-control" id="deviceMakeModel"
                                        name="device_make_model">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="model">Model</label>
                                    <input type="text" class="form-control" id="model" name="model">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="deviceType">Device Type</label>
                                    <input type="text" class="form-control" id="deviceType" name="device_type">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="totalPowerWatt">Total Power (Watt)</label>
                                    <input type="number" class="form-control" id="totalPowerWatt"
                                        name="total_power_watt" step="any">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="totalBTU">Total BTU</label>
                                    <input type="number" class="form-control" id="totalBTU" name="total_btu" step="any">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="totalPowerCable">Total Power Cable</label>
                                    <input type="number" class="form-control" id="totalPowerCable"
                                        name="total_power_cable" step="any">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="powerSocketType">Power Socket Type</label>
                                    <input type="text" class="form-control" id="powerSocketType"
                                        name="power_socket_type">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <!-- ... (previous HTML code) ... -->

                <table border="1" class="table table-hover table-primary">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Serial Number</th>
                            <th>Device Make & Model</th>
                            <th>Model</th>
                            <th>Device Type</th>
                            <th>Total Power (Watt)</th>
                            <th>Total BTU</th>
                            <th>Total Power Cable</th>
                            <th>Power Socket Type</th>
                        </tr>
                    </thead>
                    <tbody id="deviceDetails">
                        {{range .}}
                        <tr>
                            <td>{{.ID}}</td>
                            <td>{{.SerialNumber}}</td>
                            <td>{{.DeviceMakeModel}}</td>
                            <td>{{.Model}}</td>
                            <td>{{.DeviceType}}</td>
                            <td>{{.TotalPowerWatt}}</td>
                            <td>{{.TotalBTU}}</td>
                            <td>{{.TotalPowerCable}}</td>
                            <td>{{.PowerSocketType}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>


                <!-- ... (remaining HTML code) ... -->

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script>
        // JavaScript to handle form submission
        document.getElementById("entryForm").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Get form data
            const formData = new FormData(document.getElementById("entryForm"));

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/api/v1/power-details", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Request completed, handle response
                    var data = JSON.parse(xhr.responseText);
                    if (data.success) {
                        console.log(xhr.responseText);

                        alert("Success: Entry added successfully.");
                        location.reload();
                    } else {
                        alert("Error: Entry not added. Please try again.");
                    }
                }
            };
            xhr.send(formData);


            $("#createEntryModal").modal("hide");
        });

    </script>

</body>

</html>