<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>

<body>
    <!-- main content -->
    <div class="container mt-5 mb-5">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <a class="navbar-brand" href="http://localhost:8080/api/v1/homepage">
                <img src="/static/images/logo3.png" alt="Asset Locator">
            </a>
        </nav>
        <!-- <h3>Password Reset</h3> -->
        <form action="/reset-password" method="post" id="password-reset-form">
            <input type="hidden" name="token" value="{{.Token}}">
            <div class="form-group">
                <input type="password" id="new-password" name="new_password" required placeholder="New Password">
            </div>
            <div class="form-group">
                <input type="password" id="confirm-password" name="confirm_password" required
                    placeholder="Confirm Password">
            </div>
            <!-- Include the reset token from the URL as a hidden input field -->
            <input type="hidden" name="token" value="{{.Token}}">
            <div class="form-group">
                <button type="submit" class="btn btn-md btn-secondary">Reset Password</button>
            </div>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        function showToast(icon, title) {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: false,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });

            Toast.fire({
                icon: icon,
                title: title
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            const passwordResetForm = document.getElementById('password-reset-form');

            passwordResetForm.addEventListener('submit', function (e) {
                e.preventDefault();

                // Get the new password and confirm password from the form
                const newPassword = document.getElementById('new-password').value;
                const confirmNewPassword = document.getElementById('confirm-password').value;

                // Check if passwords match
                if (newPassword !== confirmNewPassword) {
                    showToast("error", "Password Mismatch");
                    return;
                }

                // Prepare data for submission
                const data = {
                    new_password: newPassword,
                };

                // Get the token from the query parameter in the URL
                const urlParams = new URLSearchParams(window.location.search);
                const token = urlParams.get('token');

                if (token) {
                    // Now you can use the 'token' variable in your fetch request
                    fetch(`/reset-password/?token=${token}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                showToast("success", "Your Password Is Changed Now");
                                // Optionally, you can redirect the user to a success page or perform other actions.
                            } else {
                                showToast("error", "Something Wrong , Try Again Later !");
                            }
                        })
                        .catch(error => {
                            console.error('An error occurred:', error);
                            showToast("error", "Something Wrong , Try Again Later !");
                        });
                } else {
                    console.error("token is not present in URL")
                    // Handle the case where the token is not found in the URL
                    showToast("error", "Something Wrong , Try Again Later !");
                }

            });
        });
    </script>

</body>

</html>